// Custom font url
$font-url--google: 'https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,700&family=Antonio:wght@300;400;500;600&family=Figtree:wght@300;400;500;600&family=Inter:wght@300;400;600&family=Merriweather:ital@1&display=swap' !default;


// Font Declaration
$font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
	Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

$font-figtree: 'Figtree', $font-sans;
$font-inter: 'Inter';
$font-antonio: 'Antonio';
$font-chakra-peth:'Chakra Petch';
$font-racing:'Racing';

$font-sizes: (
	h1: (
		xs: rem(40),
		md: rem(80),
	),
	h2: (
		xs: rem(48),
	),
	h3: (
		xs: rem(32),
	),
);
